
@{
    ViewBag.Title = "Staff API";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Staff</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Name" required="required" class="form-control col-md-7 col-xs-12" name="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">
                            Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Email" required="required" class="form-control col-md-7 col-xs-12" name="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Mobile">
                            Mobile <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Mobile" required="required" class="form-control col-md-7 col-xs-12" name="Mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">
                            Address <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Address" required="required" class="form-control col-md-7 col-xs-12" name="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="EmpCode">
                            Employee Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="EmpCode" required="required" class="form-control col-md-7 col-xs-12" name="EmpCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="EmpCode">
                            Designation Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @*<input type="text" id="DesignationName" required="required" class="form-control col-md-7 col-xs-12" name="EmpCode">*@
                            <select name="DesignationName" id="DesignationName" class="form-control">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <input type="hidden" id="ID" name="ID" />
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success" id="btn1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Bank Staff List</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-bordered jambo_table bulk_action" id="tab1">
                    <tr class="headings">
                        <th class="column-title" width="180px"># </th>
                        <th class="column-title" width="180px">Name </th>
                        <th class="column-title" width="180px">Email </th>
                        <th class="column-title" width="180px">Mobile </th>
                        <th class="column-title" width="180px">Address </th>
                        <th class="column-title" width="180px">EmpCode </th>
                        <th class="column-title" width="180px">Designation Name </th>


                        <th class="column-title no-link last" width="240px">
                            <span class="nobr">Action</span>
                        </th>
                    </tr>

                </table>
            </div>


        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function AddEditRecord(id, name, email, mobile, address, empCode,designationID) {
        $("#Name").val(name);
        $("#Email").val(email);
        $("#Mobile").val(mobile);
        $("#Address").val(address);
        $("#EmpCode").val(empCode);
        $("#DesignationName").val(designationID);
        $("#ID").val(id);
    }



    function UpdateRecord() {
        //debugger;
        var dID = parseInt($("#DesignationName").val());
        $.ajax({
            type: "Put",
            url: "/api/StaffsAPI/" + $("#ID").val(),
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({
                ID: parseInt($("#ID").val()),
                Name : $("#Name").val(),
                Email : $("#Email").val(),
                Mobile : $("#Mobile").val(),
                Address : $("#Address").val(),
                EmpCode: $("#EmpCode").val(),
                designationID: dID 
            }),

            dataType: "JSON",

            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/StaffsAPI/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.name + "</td><td width='180px'>" + val.email + "</td><td width='180px'>" + val.mobile + "</td><td width='180px'>" + val.address + "</td><td width='180px'>" + val.empCode + "</td><td width='180px'>" + val.designationName + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.name + '","' + val.email + '","' + val.mobile + '","' + val.address + '","' + val.empCode + '","' + val.designationID + '"' + ");'" + ">Edit</button> <button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));
                    })
                })
                window.location.href("/Home/StaffAPI");
            }
        });
    }
    //Delete
    function DeleteRecord(ID) {
        $.ajax({

            type: "DELETE",

            contentType: "application/json;charset=utf-8",

            url: "/api/StaffsAPI/" + ID,

            data: JSON.stringify({
                id: ID,
            }),
            dataType: "JSON",
            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/StaffsAPI/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.name + "</td><td width='180px'>" + val.email + "</td><td width='180px'>" + val.mobile + "</td><td width='180px'>" + val.address + "</td><td width='180px'>" + val.empCode + "</td><td width='180px'>" + val.designationName + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.name + '","' + val.email + '","' + val.mobile + '","' + val.address + '","' + val.empCode + '","' + val.designationID + '"' + ");'" + ">Edit</button> <button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));


                    })

                })
            }
        });
    }
    function BindDesignation() {
        $.ajax({

            type: "GET",

            contentType: "application/json;charset=utf-8",

            url: "/api/DesignationsAPI/",

            
            dataType: "JSON",
            success: function (data) {
                $('#DesignationName').empty().append('<option value="0">All</option>');
                if (data !== null && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        $('#DesignationName').append('<option value="' + data[i]['id'] + '">' + data[i]['designationName'] + '</option>');
                    }
                }
                $('#DesignationName').val('0');
            }
        });
    }
    $(document).ready(function () {
        debugger;
        BindDesignation();
        $("#tab1").css("display", "none");
        $.getJSON("/api/StaffsAPI/", function (data) {
            $("#tab1").css("display", "block");
            $.each(data, function (key, val) {
                $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.name + "</td><td width='180px'>" + val.email + "</td><td width='180px'>" + val.mobile + "</td><td width='180px'>" + val.address + "</td><td width='180px'>" + val.empCode + "</td><td width='180px'>" + val.designationName + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.name + '","' + val.email + '","' + val.mobile + '","' + val.address + '","' + val.empCode + '","' + val.designationID + '"' + ");'" + ">Edit</button> <button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

            });
        })

        //POST
        $("#btn1").click(function () {
            if ($("#ID").val() > 0) {
                UpdateRecord();
            }
            else {
                var name = $("#Name").val();
                var email = $("#Email").val();
                var mobile = $("#Mobile").val();
                var address = $("#Address").val();
                var empCode = $("#EmpCode").val();
                var designationID = parseInt($("#DesignationName").val());
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/api/StaffsAPI/",
                    data: JSON.stringify({
                        name, email, mobile, address, empCode, designationID

                    }),
                    dataType: "JSON",
                    success: function (data) {
                        $("#ID").val('');
                        $("#tab1").find("tr:gt(0)").remove();
                        $.getJSON("/api/StaffsAPI/", function (data) {
                            $("#tab1").css("display", "block");
                            $.each(data, function (key, val) {
                                $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.name + "</td><td width='180px'>" + val.email + "</td><td width='180px'>" + val.mobile + "</td><td width='180px'>" + val.address + "</td><td width='180px'>" + val.empCode + "</td><td width='180px'>" + val.designationName + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.name + '","' + val.email + '","' + val.mobile + '","' + val.address + '","' + val.empCode + '","' + val.designationID + '"' + ");'" + ">Edit</button> <button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                            })

                        })
                    }
                });
            }
        })
    });

</script>



